*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0%;
}

body {
    height: 100%;
    margin: auto;
    width: min(100%, 1000px);
}

main {
    margin: auto;
}

ul, ol {
    list-style: none;
}

img, picture, svg {
    max-width: 100%;
    display: block;
}
