:root {
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
    --text-color: hsl(0, 0%, 100%);

    --bg-color-dark: #e3e3e3ba;
    --bg-color-light: #f7f7f7;
    --bg-footer-color: #3b3b3b;

    --box-shadow-dark: hsl(0, 0%, 17%);
    --box-shadow-light: hsl(0, 0%, 59%);
    --icon-dark: rgb(85, 85, 85);
    $primary-color: --primary-color;
}