*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0%;
}

body {
  height: 100%;
  margin: auto;
  width: min(100%, 1000px);
}

main {
  margin: auto;
}

ul, ol {
  list-style: none;
}

img, picture, svg {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Shrikhand", serif;
  margin-top: 0;
  font-weight: var(--font-weight-light);
}

a, a:visited, a:active {
  text-decoration: none;
  color: white;
}

p {
  margin-top: 0;
}

:root {
  --primary-color: #9356DC;
  --secondary-color: #FF79DA;
  --tertiary-color: #99E2D0;
  --text-color: hsl(0, 0%, 100%);
  --bg-color-dark: #e3e3e3ba;
  --bg-color-light: #f7f7f7;
  --bg-footer-color: #3b3b3b;
  --box-shadow-dark: hsl(0, 0%, 17%);
  --box-shadow-light: hsl(0, 0%, 59%);
  --icon-dark: rgb(85, 85, 85);
}

.restaurants-card {
  height: 200px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 8px var(--box-shadow-light);
}
.restaurants-card__image {
  width: 300px;
  height: 65%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.restaurants-card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 12px;
  color: black;
}
.restaurants-card--name {
  font-weight: var(--font-weight-bold);
}
.restaurants-card--location {
  font-weight: var(--font-weight-light);
}
.restaurants-card__icon {
  font-size: 1.7em;
}
.restaurants-card:hover {
  box-shadow: 0px 5px 8px rgb(177, 177, 177);
}

.fa-hover-show {
  color: var(--primary-color);
}

.restaurants-card__icon > .fa + .fa, .restaurants-card__icon:hover > .fa {
  display: none;
}

.restaurants-card__icon:hover > .fa + .fa {
  display: inherit;
}

.menu-card {
  overflow: hidden;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: end;
  margin: 1em 1em;
  height: 5em;
  border-radius: 20px;
  animation: cards 1s both;
  transform-origin: bottom;
  box-shadow: 0px 5px 8px var(--box-shadow-light);
}
.menu-card__info {
  padding: 1em 0 1em 1em;
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-grow: 2;
}
.menu-card--1 {
  animation-delay: 150ms;
}
.menu-card--2 {
  animation-delay: 300ms;
}
.menu-card--3 {
  animation-delay: 450ms;
}

@keyframes cards {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu-card-name__item {
  font-size: 1.2em;
  font-weight: var(--font-weight-medium);
}
.menu-card-name__info {
  font-weight: var(--font-weight-light);
  text-overflow: ellipsis;
}

.menu-card:hover .menu-card__rightside {
  transform: translateX(0);
}

.menu-card:hover .menu-card-price {
  transform: translateX(-10px);
}

.menu-card:hover .menu-card__rightside--icon {
  transform: rotate(0deg);
}

.menu-card__rightside {
  overflow: hidden;
  width: 70px;
  height: 100%;
  background-color: aquamarine;
  transform: translateX(110px);
  transition: transform 500ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-card__rightside--icon {
  color: white;
  font-size: 1.7em;
  transform: rotate(-180deg);
  transition: transform 1s ease-in-out;
}

.menu-card-price {
  transform: translateX(40px);
  transition: transform 500ms ease-in-out;
}

:root {
  --font-weight-light: 300;
  --font-weight-medium: 600;
  --font-weight-bold: 800;
}

.main-btn {
  background-image: linear-gradient(to top left, var(--primary-color), var(--secondary-color));
  margin: 10px;
  padding: 10px 40px;
  color: #fff;
  box-shadow: 0 2px 10px;
  border-radius: 35px;
  box-shadow: 0px 5px 8px var(--box-shadow-light);
}
.main-btn:hover {
  box-shadow: 0px 5px 8px rgb(177, 177, 177);
  filter: brightness(110%);
}

.location {
  background-color: var(--bg-color-dark);
  text-align: center;
  padding: 1em;
}
.loader-wrapper {
  overflow: hidden;
}

.loader {
  z-index: 999;
  position: absolute;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  background-color: var(--bg-color-light);
  transform: translate(1000px);
  animation: loader 1.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.spinner {
  border: 9px solid var(--tertiary-color);
  border-top: 10px solid var(--primary-color);
  border-bottom: 10px solid var(--secondary-color);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  animation: spinner 2.5s ease-out;
  opacity: 1;
  background-color: var(--bg-color-light);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    transform: translate(0px);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  80% {
    transform: translate(0px);
  }
  100% {
    transform: translate(1000px);
    opacity: 0;
  }
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.primary-header {
  height: 4em;
  box-shadow: 0px 5px 3px rgb(46, 46, 46);
}
.primary-header__logo {
  margin: 1em auto;
  height: 50px;
}

.explore-container {
  background-color: var(--bg-color-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.explore-container__item {
  padding: 1rem;
}
.explore-container__item--headline {
  font-weight: var(--font-weight-bold);
  font-size: 1.8rem;
}
.explore-container__item--text {
  font-weight: var(--font-weight-light);
  font-size: 1.6rem;
  text-align: center;
}

.how-container {
  margin: 1em;
}
.how-container__headline {
  font-weight: var(--font-weight-bold);
  font-size: 1.8rem;
}

.how-container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1em;
  height: 300px;
}
.how-container-cards__card {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  gap: 1em;
  background-color: var(--bg-color-light);
  border-radius: 20px;
  padding: 25px;
  position: relative;
  box-shadow: 0px 5px 8px var(--box-shadow-light);
}

.how-card-number {
  background-color: var(--primary-color);
  border-radius: 50%;
  height: 35px;
  width: 35px;
  position: absolute;
  top: 20px;
  left: -5%;
  text-align: center;
  line-height: 35px;
  color: white;
}

.how-card-icon {
  margin-left: 20px;
  color: var(--icon-dark);
}

.how-container-cards__card:hover {
  background: #f2eafb;
  box-shadow: 0px 5px 8px rgb(177, 177, 177);
}

.restaurants {
  padding: 4em 1em;
  background-color: var(--bg-color-light);
}

.restaurants-headline {
  padding-bottom: 1em;
  font-weight: var(--font-weight-bold);
  font-size: 1.8rem;
}

.restaurants-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

footer {
  height: 240px;
  background-color: var(--bg-footer-color);
}

.footer-container {
  padding: 2em 2em;
}
.footer-container__items {
  line-height: 2em;
}
.footer-container li:nth-child(1) {
  margin-bottom: 1em;
}

.fa-utensils, .fa-handshake-angle {
  width: 25px;
}

.rst-page-main-image {
  margin: auto;
}

.home-arrow .fa-arrow-left {
  position: absolute;
  top: 20px;
  margin-left: 20px;
  font-size: 1.8em;
  color: black;
}

.menu-page {
  background-color: var(--bg-color-light);
  border-radius: 25px;
  padding-top: 20px;
  top: -20px;
  width: 100%;
  max-width: 1000px;
  position: relative;
  z-index: 9;
  animation: change-color-anim 0.7s linear;
}

@keyframes change-color-anim {
  0% {
    background-color: white;
  }
  100% {
    background-color: var(--bg-color-light);
  }
}
.menu__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}
.menu__head--icon {
  font-size: 2em;
}

.menu-container {
  margin-top: 2em;
}
.menu-container__headline {
  margin-left: 1em;
  text-transform: uppercase;
}
.menu-container__headline:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 25px;
  border-bottom: 2px solid var(--tertiary-color);
}

.order-btn {
  background-image: linear-gradient(to top left, var(--primary-color), var(--secondary-color));
  margin: 2em auto;
  text-align: center;
  width: 150px;
  padding: 10px 40px;
  color: #fff;
  box-shadow: 0 2px 10px;
  border-radius: 35px;
  box-shadow: 0px 5px 8px var(--box-shadow-light);
}
.order-btn:hover {
  box-shadow: 0px 5px 8px rgb(177, 177, 177);
  filter: brightness(110%);
}
